/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

:root{
    --c-text: #1A1A1A;
    --c-green: #00B172;
    --c-white: #FFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: var(--c-text );
    list-style: none;
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100%;
}

/* HEADER */

header nav{
    position: fixed;
    background-color: var(--c-white);
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
}
header .menu{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    
}
.menu li{
    font-size: large;
}
#logo {
    max-width: 20%;
    height: auto;
}
header .container-img {
    background-image: url("/images/landing.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.text-img {
    color: white; 
  }
  .t2{
    font-size: 35px;
    font-weight: 300;
  }
  .t1{
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 2%;
  }

  /* MAIN SECC1 */

  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .box h3{
    font-size: 36px;
    margin: 3% 0;
    font-weight: 500;
  }
  .container-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15%;
    padding: 0 10%;
  }
  .box .icon{
    padding: 0 25%;
    max-width: 100%;
  }
  .t-art{
    font-size: 26px;
    font-weight: 600;
    margin: 5% 0;
  }
  .green{
    color: var(--c-green);
  }
  .box p{
    color: var(--c-text);
    font-size: x-large;
    text-align: center;
    font-weight: 200;
  }
 
    /* MAIN SECC2 */

    .sec-2{
        background-color: var(--c-green);
        display: flex;
        justify-content: space-between;
        padding: 5% 8%;
        margin:  5%;

        position: relative;
    }
    
    .sec-2 .text-g{
        width: 40%;
    }

    .text-g h2{
        color: var(--c-white);
        font-weight: 400;
        font-size: 32px;
        border-bottom: 5px solid var(--c-white);
        padding: 2% 0;
        letter-spacing: 0.0rem;
    }

    .white{
        color: var(--c-white)
    }
    .box-1{
        width: 70%;
        letter-spacing: 0.05rem;
        margin: 10% 0;
    }
    .box-1 p{
        font-size: large;
        font-weight: 200;
        line-height: 1.5;
        margin-top: 10%;
    }
    .sec-2 img{
       width: 35%;
    }
    .iconoSp {
        position: absolute;
        max-width: 10vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }